{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Easy Cart</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Include a new external file -->
    {% include 'shop/inc/navbar.html' %}
    
    <!-- main block content -->
    {% block content %}

    {% endblock content %}

    {% include 'shop/inc/footer.html' %}

    <!-- scripts content -->
    {% block scripts %}

    {% endblock scripts %}
</body>

</html>