{% extends 'shop/layouts/main.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
<section class="min-h-screen pt-[100px] flex items-center flex-col gap-6">
    {% include 'shop/inc/message.html' %}
    
    <h1 class="text-2xl">Login User</h1>
    <!-- action is empty because it was in the current page /register -->
    <form method="post" action="" class="flex flex-col gap-2 bg-white p-6 w-[320px] rounded-sm shadow-sm">
        {% csrf_token %}
        <div>
            <input type="text" name="username" id="username" class="w-full border-2 border-gray-400 outline-violet-600 rounded-sm py-1 px-2" placeholder="Enter the username">
        </div>
        <div>
            <input type="password" name="password" id="password" class="w-full border-2 border-gray-400 outline-violet-600 rounded-sm py-1 px-2" placeholder="Enter the password">
        </div>
        <button type="submit" class="px-8 py-2 font-semibold rounded bg-violet-600 w-full text-gray-50">Submit</button>
        <p class="text-xs text-center">Don't have an account? <a href="{% url 'register' %}" class="text-violet-600 underline">Register</a></p>
    </form>
</section>
{% endblock content %}