<header class="p-4 dark:bg-gray-100 dark:text-gray-800 fixed top-0 left-0 w-screen">
	<div class="container flex justify-between h-[50px] mx-auto">
		<a rel="noopener noreferrer" href="#" aria-label="Back to homepage" class="flex items-center p-2 text-2xl">
			EasyCart
		</a>
		<ul class="items-stretch hidden space-x-3 md:flex">
			<li class="flex">
				<a rel="noopener noreferrer" href="{% url 'home' %}" class="flex items-center px-4 -mb-1">Home</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="{% url 'register' %}"
					class="flex items-center px-4 -mb-1">Register</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="{% url 'features' %}"
					class="flex items-center px-4 -mb-1">Features</a>
			</li>
		</ul>
	</div>
</header>